* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body {
	background-color: #ebebeb;
	font-family: 'Montserrat', sans-serif;
}
header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 20px 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: rgb(255, 255, 255);
}
.header-title {
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
	color: #00bfff;
	letter-spacing: -4px;
}
.header-title > span {
	color: #0073ff;
}
.search-bar {
	margin-left: 15%;
	display: flex;
	position: relative;
	flex-grow: 1;
}
.search-bar-input {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	min-width: 50%;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 50px;
	outline: none;
}
.search-bar-input::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
.fa-magnifying-glass {
	position: absolute;
	transform: translate(50%, 50%);
}
.header-basket {
	font-weight: 600;
}
.header-basket .fa-cart-shopping {
	font-size: 20px;
}
.cart-value {
	color: #0073ff;
}
.categories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.categories-title {
	margin: 5px 0;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
}
.categories-items {
	display: flex;
	gap: 1.5rem;
}
.categories-items button {
	padding: 7px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.categories-items button:hover {
	background-color: #00bfff;
}
.categories-items button.active {
	background-color: #00bfff;
}
.products {
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 5;
	flex-wrap: wrap;
	gap: 20px;
}
.product-item {
	padding: 10px;
	max-width: 325px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
	border-radius: 4px;
	transition: all 0.5s ease;
	text-align: center;
	min-height: 500px;
}
.product-item:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.product-name {
	font-size: 20px;
	color: rgb(67, 67, 67);
}
.product-description {
	margin: 15px 10px;
	font-size: 14px;
}
.product-price {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
