* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body {
	background-color: #ebebeb;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}
header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: rgb(255, 255, 255);
	flex-wrap: wrap;
	gap: 1rem;
}
@media (max-width: 1000px) {
	header {
		justify-content: center;
		align-items: center;
	}
	.search-bar {
		min-width: 300px;
	}
}
.header-title {
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
	color: #00bfff;
	letter-spacing: -4px;
}
.header-title > span {
	color: #0073ff;
}
.search-bar {
	display: flex;
	position: relative;
	width: 50%;
}
.search-bar-input {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 50px;
	outline: none;
	width: 100%;
}
.search-bar-input::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
.fa-magnifying-glass {
	position: absolute;
	transform: translate(50%, 50%);
}
.header-basket {
	font-weight: 600;
}
.header-basket .fa-cart-shopping {
	font-size: 20px;
}
.cart-value {
	color: #0073ff;
}
.categories {
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.categories-title {
	margin: 5px 0;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
}
.categories-items {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	justify-content: center;
}
.categories-items button,
.product-item button {
	padding: 7px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.categories-items button:hover,
.product-item button {
	background-color: #00bfff;
}
.product-item button {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
}
.product-item button:hover {
	background-color: #00ffd0;
}
.categories-items button.active {
	background-color: #00bfff;
}
.products {
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 5;
	flex-wrap: wrap;
	gap: 20px;
}
.product-item {
	background-color: #fff;
	position: relative;
	padding: 20px 10px;
	max-width: 325px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	text-align: center;
	min-height: 500px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
}
.product-name {
	font-size: 20px;
	color: rgb(67, 67, 67);
}
.product-description {
	margin: 15px 10px;
	font-size: 14px;
	line-height: 13px;
}
.product-price {
	font-weight: 700;
	font-size: 20px;
	color: #0073ff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.product-price .price-sale {
	display: none;
}
.product-item.onSale .price {
	font-size: 15px;
	color: rgb(61, 61, 61);
	text-decoration: line-through;
}
.product-item.onSale .price-sale {
	display: block;
}
.product-item-sale-info {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	padding: 5px;
	font-size: 15px;
	background-color: #000000c9;
	color: #ffd700;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 4px;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	background-color: #000;
	color: #fff;
	position: relative;
}
footer ul {
	display: flex;
	gap: 20px;
}
footer li:hover {
	cursor: pointer;
	color: orangered;
}
footer span {
	font-size: 12px;
	color: gray;
}
